<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>map8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84C47AAA1D6DDD6700006E10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C47AC31D6DDD6700006E10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C47ACE1D6DDD6700006E10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
