<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>browser1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>848527C21D0BBB2E00375F79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>848527DB1D0BBB2E00375F79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>848527E61D0BBB2E00375F79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
