<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FileManger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8421CC2D1D283B0C00C7A2AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8421CC411D283B0C00C7A2AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8421CC4C1D283B0C00C7A2AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
